.card-content {
  max-width: 342px;
  max-height: 500px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-img {
  max-width: 342px;
  max-height: 320px;
}

.card-img img {
  height: 100%;
  width: 100%;
}

.card-title {
  color: rgb(38, 49, 65);
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.card-txt {
  color: rgb(126, 135, 148);
  font-size: 16px;
  font-weight: 400;
}

.card-link {
  color: rgb(255, 77, 77);
  font-size: 16px;
  font-weight: 500;
}
